body {
  font-size: 62.5%;
  background: white;
  color: black;
}

#container {
    width: 1024px;
    margin: 40px auto;
    text-align: center;
}

#navigation {
    position: absolute;
    bottom: 72px;
    margin: 0;
    width: 1000px;
}

  #navigation a {
      color: black;
      font-size: 2.4em;
      font-family: sans;
      margin: 0 20px 0 30px;
      text-decoration: none;
  }

  #navigation a.active, #navigation a:hover {
      text-decoration: underline;
  }

#heading {
    margin-top: 200px;
    text-align: center;
}

#footer {
    width: 1024px;
    position: absolute;
    bottom: 0;
}

img#logo {
    position: absolute;
    bottom: 100px;
    margin: 12px 0 12px 440px;
}
  
img#copyright {
    margin: 12px auto 12px 340px;
    position: absolute;
    bottom: 12px;
}

img#detroit-dynamo {
    position: absolute;
    right: 16px;
    bottom: 16px;
    z-index: -100;
}

